<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">location</h4>
                        <p class="category">Enter Your Location Details so that user can find you</p>
                    </div>
                    <div class="card-content">
                        <form ng-submit="uploadData()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Country</label>
                                        <select ng-model="location.country" class="mdb-select form-control">
                                            <option value="" disabled selected></option>
                                            <option value="India">India</option>
                                            <option value="Dubai">Dubai</option>
                                            <option value="Brazil">Brazil</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">State</label>
                                        <select ng-model="location.state" class="mdb-select form-control">
                                            <option value="" disabled selected></option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Mumbai">Mumbai</option>
                                            <option value="KolKata">KolKata</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">City</label>
                                        <select ng-model="location.city" class="mdb-select form-control">
                                            <option value="" disabled selected></option>
                                            <option value="Lucknow">Lucknow</option>
                                            <option value="Ghaziyabad">Ghaziyabad</option>
                                            <option value="Agra">Agra</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Area</label>
                                        <input ng-model="location.area" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Landmark</label>
                                        <input ng-model="location.landmark" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Address</label>
                                        <input ng-model="location.address" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>     
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Pincode</label>
                                        <input ng-model="location.pincode" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Latitude</label>
                                        <input ng-model="location.latitude" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Longitude</label>
                                        <input ng-model="location.longitude" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                            

                            <button type="submit" class="btn btn-primary pull-right">Update Location</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--

        ClientLocation.create({
            address: req.param('address'),
            area: req.param('area'),
            city: req.param('city'),
            landmark: req.param('landmark'),
            pincode: req.param('pincode'),
            state: req.param('state'),
            country: req.param('country'),
            -->
