<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Offers</h4>
                        <p class="category">Your Offers to attract users</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>title</th>
                                <th>Actual Price</th>
                                <th>Discount Price</th>
                                <th>Valid Till</th>
                                <th>Description</th>
                                <th>Action</th>
                            </thead>
                            <tbody ng-repeat="offer in offers | reverse">
                                <tr>
                                    <td>{{offer.title}}</td>
                                    <td>{{offer.actualPrice}}</td>
                                    <td>{{offer.discountPrice}}</td>
                                    <td class="text-primary">{{offer.validTill | date}}</td>
                                    <td><p>{{offer.description}}</p></td>
                                    <td><button class="btn btn-sm btn-danger" ng-click="deleteOffer(offer)">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <div ng-if="isEmpty()" class="alert alert-warning" role="alert">No Offers yet Please add one</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Add New Offers</h4>
                        <p class="category"></p>
                    </div>
                    <div class="card-content">
                        <form ng-submit="addOffer()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Title</label>
                                        <input ng-model="clientOffer.title" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Actual Price</label>
                                        <input ng-model="clientOffer.actualPrice" type="number" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Discount Price</label>
                                        <input ng-model="clientOffer.discountPrice" type="number" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">description</label>
                                        <input ng-model="clientOffer.description" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Valid Till</label>
                                        <input ng-model="clientOffer.validTill" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary pull-right">Add Offer</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    