<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Basic Information</h4>
                        <p class="category">Complete your basic information to get started</p>
                    </div>
                    <div class="card-content">
                        <form ng-submit="uploadData()">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Name Of Office</label>
                                        <input type="text" ng-model="personalInfo.nameOfOffice" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Owner</label>
                                        <input type="text" ng-model="personalInfo.nameOfOwner" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Contact Person</label>
                                        <input type="text" ng-model="personalInfo.contactPerson" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Reference</label>
                                        <input type="text" ng-model="personalInfo.reference" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                            <!-- will have to dynamically add category and sub-category here -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Category</label>
                                        <select ng-model="personalInfo.category" class="mdb-select form-control">
                                            <option value="" disabled selected></option>
                                            <option value="1">Auto-Mobile</option>
                                            <option value="2">Real Estate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Sub-Category</label>
                                        <select ng-model="personalInfo.subCategory" class="mdb-select form-control">
                                            <option value="" disabled selected></option>
                                            <option value="1">Dhaba</option>
                                            <option value="2">Bus stand</option>
                                            <option value="2">Taxi stand</option>
                                            <option value="2">Mobile Store</option>
                                            <option value="2">Chaat Wala</option>
                                            <option value="2">Cobbler</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Ownership of Property</label>
                                        <select ng-model="personalInfo.ownerShipOfProperty" class="mdb-select form-control">
                                            <option value="" disabled selected></option>
                                            <option value="OWN">Own</option>
                                            <option value="RENT/LEASE">Rent/Lease</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Type Of Market</label>
                                        <select ng-model="personalInfo.typeOfMarket" class="mdb-select form-control">
                                            <option value="" disabled selected></option>
                                            <option value="LOCAL">Local</option>
                                            <option value="MALL">Shopping Mall</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Type Of Venue</label>
                                        <select ng-model="personalInfo.typeOfVenue" class="mdb-select form-control">
                                            <option value="" disabled selected></option>
                                            <option value="Shop">Shop</option>
                                            <option value="Hawker">Hawker</option>
                                            <option value="Showroom">Showroom</option>
                                            <option value="Open Space">Open Space</option>
                                            <option value="Factory">Factory</option>
                                            <option value="Office">Office</option>
                                            <option value="Food Corner">Food Corner</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Tenure</label>
                                        <select ng-model="personalInfo.tenure" class="mdb-select form-control">
                                            <option value="" disabled selected></option>
                                            <option value="One">One year</option>
                                            <option value="Two">Two year</option>
                                            <option value="Four">Four year</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Package</label>
                                        <select ng-model="personalInfo.package" class="mdb-select form-control">
                                            <option value="" disabled selected></option>
                                            <option value="COPPER">Copper</option>
                                            <option value="SILVER">Silver</option>
                                            <option value="GOLD">Gold</option>
                                            <option value="DIAMOND">Diamond</option>
                                            <option value="PLATINUM">Platinum</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Mode Of Payment</label>
                                        <select ng-model="personalInfo.modeOfpayment" class="mdb-select form-control">
                                            <option value="" disabled selected></option>
                                            <option value="Cash">Cash</option>
                                            <option value="Internet Banking">E-banking</option>
                                            <option value="Debit Card">Debit Card</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary pull-right">Update Personal Information</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>