<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Id Proofs</h4>
                        <p class="category">Enter Your Proof and details of your business to become certified</p>
                    </div>
                    <div class="card-content">
                        <form ng-submit="updateProof()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Business Card</label>
                                        <div ng-click="setValue('businessCard')" class="button" ngf-select="upload($file)">Upload on file select</div> <i ng-if="up.bcard" class="material-icons big">done</i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Electricity Bill</label>
                                        <div ng-click="setValue('electricityBill')"  class="button" ngf-select="upload($file)">Upload on file select</div> <i ng-if="up.ebill" class="material-icons big">done</i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Phone Bill</label>
                                        <div ng-click="setValue('telephoneBill')" class="button" ngf-select="upload($file)">Upload on file select</div> <i ng-if="up.tbill" class="material-icons big">done</i>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Business Registration Number</label>
                                        <input ng-model="proofModel.shopRegistrationNo" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">GST / Sales Tax Number</label>
                                        <input ng-model="proofModel.taxes" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Other</label>
                                        <input ng-model="proofModel.other" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary pull-right">Update Proof</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>