<div class="container-fluid">
    <div class="row">

        <div class="col-sm-6 col-md-6 fullheight redColor">

            <p>Be part of our awsome team and <br> have fun with us</p>

        </div>

        <div class="col-sm-6 col-md-6 fullheight blueTwoColor">

            <ul class="logsin">
                <li> <a ui-sref="login" class="button-log">Login</a></li>
                <!--<li> <a href="#" class="button-sin">Sign Up</a></li>-->
            </ul>
            <form ng-submit="clientRegister()" class="w3-container">
                <p>
                    <label>Full Name</label>
                    <input class="w3-input" ng-model="clientDetail.name" type="text" placeholder="Enter your full Name"></p>

                <p>
                    <label>Phone No</label>
                    <input class="w3-input" ng-model="clientDetail.phone" type="text" placeholder="Enter your Phone No"></p>

                <p>
                    <label>Email</label>
                    <input class="w3-input" type="text" ng-model="clientDetail.email" placeholder="Enter your email address"></p>


                <p>
                    <label>Password</label>
                    <input class="w3-input" ng-model="clientDetail.password" type="password" placeholder="******"></p>

                <p class="agree">
                    <input type="checkbox" checked="checked" value="Bike"> By signing up you agree Terms &amp; conditions<br>
                    <Button type="submit" class="button">Register</Button>
                </p>
            </form>

        </div>

    </div>

</div>
